$sf-sidebar-width: 250px;
$sf-navbar-height: 64px;
$sf-color-unseen: #9c9c9c;
$sf-inner-form-width: 450px;
$sf-audioplayer-bg-color: white;
$sf-bottom-player-height: 90px;
$sf-primary-color: #2b2a30;
// $sf-nav-active-link-color: rgb(255, 0, 0);
$sf-nav-link-color: #4c5053;
$sf-seekbar-color: #dadada;