.bottom-player {
  height: $sf-bottom-player-height;
}

.player-seekbar {
  height: 6px;
  background-color: $sf-seekbar-color;
  background-image: linear-gradient($sf-primary-color, $sf-primary-color);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

.player-volume-bar {
  background-color: $sf-seekbar-color;
}

.player-volume-control {
  transition: opacity 0.15s;
}

.disable-select {
  user-select: none;
 -webkit-user-select: none; 
 -khtml-user-select: none; 
 -moz-user-select: none; 
 -ms-user-select: none;
}

.player-volume-bar {
  background-color: $sf-primary-color;
  background-image: linear-gradient($sf-seekbar-color, $sf-seekbar-color);
  background-size: 100% 40%;
  background-repeat: no-repeat;
}