.bottom-player {
  height: $sf-bottom-player-height;
  min-height: $sf-bottom-player-height !important;
  max-height: $sf-bottom-player-height !important;
}

// .player-seekbar {
//   height: 6px;
//   background-color: $sf-seekbar-color;
//   background-image: linear-gradient($sf-primary-color, $sf-primary-color);
//   background-size: 0% 100%;
//   background-repeat: no-repeat;
// }

.player-volume-bar {
  background-color: $sf-seekbar-color;
}

.player-volume-control {
  transition: opacity 0.15s;
}

.player-volume-bar {
  --volume: 0;
  transform: rotate(270deg);
  // transform-origin: top left;
}

/* Seekbar&Volumebar/Background - general */
.player-seekbar {
  --seekbar-progress: 0;

  appearance: none;
  background: $sf-seekbar-color;
  border-radius: 10px;
  position: relative;
  height: 6px;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.player-volume-bar {
  appearance: none;
  background: $sf-seekbar-color;
  border-radius: 10px;
  position: relative;
  height: 6px;
  outline: none;
  margin-top: 54px;
}

/* Seekbar&Volumebar/Background - Safari */
.player-seekbar::-webkit-slider-runnable-track,
.player-volume-bar::-webkit-slider-runnable-track {
  background: $sf-seekbar-color;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 6px;
  outline: none;
}

/* Seekbar&Volumebar/Background - Firefox */
.player-seekbar::-moz-range-track,
.player-volume-bar::-moz-range-track {
  background: $sf-seekbar-color;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 6px;
  outline: none;
}

.player-seekbar::-moz-focus-outer,
.player-volume-bar::-moz-focus-outer {
  border: 0;
}

/* Seekbar&Volumebar/Visible Progress - Chrome & Safari */
.player-seekbar::before,
.player-volume-bar::before {
  content: "";
  height: 6px;
  width: var(--seekbar-progress);
  background-color: $sf-primary-color;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

.player-volume-bar::before {
  content: "";
  height: 6px;
  width: var(--volume);
  background-color: $sf-primary-color;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
}

/* Seekbar&Volumebar/Visible Progress - Firefox*/
.player-seekbar::-moz-range-progress {
  background-color: $sf-seekbar-color;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 6px;
}

/* Seekbar&Volumebar/Handle - Chrome & Safari */
.player-seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  background-color: $sf-primary-color;
  cursor: pointer;
  margin: -2.5px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
  opacity: 0; // only display handle on hover
}

.player-volume-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  background-color: $sf-primary-color;
  cursor: pointer;
  margin: -3.5px 0 0 0;
  z-index: 3;
  box-sizing: border-box;
  opacity: 0; // only display handle on hover
}

/* Seekbar&Volumebar/Handle (while dragging) - Chrome & Safari */
.player-seekbar:active::-webkit-slider-thumb,
.player-volume-bar:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.player-seekbar:hover::-webkit-slider-thumb,
.player-volume-bar:hover::-webkit-slider-thumb {
  opacity: 1; // only sidplay handle on hover
}

/* Seekbar&Volumebar/Handle  - Firefox */
.player-seekbar::-moz-range-thumb,
.player-volume-bar::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: transparent;
  background-color: $sf-primary-color;
  cursor: pointer;
  z-index: 3;
  box-sizing: border-box;
  opacity: 0; // only sidplay handle on hover
}

/* Seekbar&Volumebar/Handle (while dragging) - Firefox */
.player-seekbar:active::-webkit-slider-thumb,
.player-volume-bar:active::-webkit-slider-thumb {
  transform: scale(1.2);
}

.player-seekbar:hover::-webkit-slider-thumb,
.player-volume-bar:hover::-webkit-slider-thumb {
  opacity: 1; // only sidplay handle on hover
}

.player-track-info {
  width: 300px;
  white-space: nowrap;
  overflow-x: hidden;
}

.marquee {
  animation: back-and-forth 11s linear infinite;
}

@-moz-keyframes back-and-forth {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(calc(100% - 266px));
  }
  55% {
    transform: translateX(calc(100% - 266px));
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes back-and-forth {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(calc(100% - 266px));
  }
  55% {
    transform: translateX(calc(100% - 266px));
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes back-and-forth {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(calc(100% - 266px));
  }
  55% {
    transform: translateX(calc(100% - 266px));
  }
  90% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}
