.sidebar {
  width: $sf-sidebar-width;
  min-width: $sf-sidebar-width !important;
  max-width: $sf-sidebar-width !important;
  height: calc(100vh - $sf-navbar-height);
}

.watches {
  height: 621px;
  // max-width: $sf-sidebar-width;
}

a.active {
  color: $sf-primary-color;
  font-weight: 600 !important;
}

.bg-unseen {
  background-color: $sf-color-unseen;
}